.s10{
    display: inline-block;
    width: 10px;
    height: 10px;
}
.s12{
    display: inline-block;
    width: 12px;
    height: 12px;
}
.s15{
    display: inline-block;
    width: 15px;
    height: 15px;
}
.s16{
    display: inline-block;
    width: 16px;
    height: 16px;
}
.s20{
    display: inline-block;
    width: 20px;
    height: 20px;
}